@mixin button-color($color: $light){
	background: $color;
	color: white;

	&:not(:disabled):hover{
		background: white;
		color: lighten($color, 7%);
		border-color: lighten($color, 7%);
	}

	&:disabled{
		color: rgba(0, 0, 0, .25);
		border-color: rgba(0, 0, 0, .25);
		cursor: not-allowed;

		&:active{
			top: 0;
			border-bottom-width: .2em;
			margin-bottom: 0;
		}

		&:hover{
			color: rgba(0, 0, 0, .25);
			border-color: rgba(0, 0, 0, .25);
		}
	}
}

.btn{
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em;
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	@include button-color($medium);
	@include vendor-prefix(transition, 'color .3s, background .3s');
	@include vendor-prefix(user-select, 'none');

	&:active{
		top: 2px;
	}

	&:focus{
		outline: 1px solid lighten($blue, 28%);
		outline-offset: 1px;
	}

	&.btn-primary{
		@include button-color($purple);

		font-family: Open Sans Condensed, sans-serif;
		text-transform: uppercase;
		font-weight: 800;
	}

	&.btn-green{
		@include button-color($green);
	}

	&.btn-blue{
		@include button-color($light-blue);

		&:after{
			content: '\203A';
			position: relative;
			top: 2px;
			margin-left: 1ch;
			line-height: 0;
			font-size: 1.5em;
			font-family: serif;
		}
	}

	&.btn-yellow{
		@include button-color($yellow);
	}

	&.btn-red{
		@include button-color($red);
	}

	&.btn-dark{
		@include button-color($dark);
	}

	&.btn-white{
		@include button-color(white);

		font-family: Open Sans Condensed, sans-serif;
		text-transform: uppercase;
		font-weight: 800;
		color: $purple;

		&:not(:disabled):hover{
			background: $purple;
			color: white;
		}

		&:disabled{
			color: rgba(255, 255, 255, .25);

			&:hover{
				color: rgba(255, 255, 255, .25);
			}
		}
	}

	&.btn-large{
		font-size: 1.5em;
		padding: .2em 2% .25em;
	}
}

@-moz-document url-prefix(){
	.btn{
		font-size: 1em;
	}
}
