/*
	This @fontface was made using fontello. It takes web icon fonts and packages them with only the glyphs you use.
	This one is only social media. If you want to add more go to http://fontello.com/ and use the import feature
	to upload the config.json included in the font folder. Add your new glyphs, download and replace the fonts in the fonello folder.
	Don't forget to include the new config.json

	google+ '\f0d4' &#xf0d4;
	instagram '\f16d' &#xf16d;
	twitter'\f304' &#xf304;
	facebook '\f308' &#xf308;
	linkedin '\f30c' &#xf30c;
	external-link '\f08e' &#f08e;
*/
@font-face{
	font-family: 'fontello';
	src:
		url('../fonts/fontello/fontello.eot#iefix') format('embedded-opentype'),
		url('../fonts/fontello/fontello.woff2') format('woff2'),
		url('../fonts/fontello/fontello.woff') format('woff'),
		url('../fonts/fontello/fontello.ttf') format('truetype'),
		url('../fonts/fontello/fontello.svg') format('svg'),
		url('../fonts/fontello/fontello.eot');
	font-weight: normal;
	font-style: normal;
}
