footer{
	.footer-top{
		background: $blue;
		font-family: Open Sans, sans-serif;
		padding: 2em 0;

		@media(max-width: $phone-large){
			padding: 1em 0;
		}

		nav{
			vertical-align: middle;

			ul{
				list-style: none;

				@media(max-width: $phone-large){
					text-align: center;
				}

				li{
					float: left;
					text-transform: uppercase;
					padding: 0 1em;

					@media(max-width: $phone-large){
						float: none;
						margin-bottom: 1em;
					}

					a{
						color: white;
						text-decoration: none;
					}
				}
			}
		}

		#social{
			font-family: 'fontello';
			vertical-align: middle;

			ul{
				list-style: none;
				float: right;

				@media(max-width: $phone-large){
					text-align: center;
					float: none;
				}

				li{
					float: left;
					padding: 0 .5em;
					font-size: 1.5em;

					@media(max-width: $phone-large){
						float: none;
						display: inline-block;
					}

					a{
						color: white;
						text-decoration: none;
					}
				}
			}
		}
	}

	.footer-bottom{
		background: white;
		padding: 2em 0;

		> .container > .row > *{
			vertical-align: middle;
		}

		@media(max-width: $phone-large){
			text-align: center;
			padding: 1em 0;
		}
	}

	.footer-copyright{
		@media(max-width: $phone-large){
			padding-bottom: 1em;
		}

		p + p{
			font-size: .65em;
		}
	}

	.footer-logo{
		@media(max-width: $phone-large){
			padding: 2em 0;
		}

		a{
			display: block;
			height: 0;
			padding-top: 50px;
			overflow: hidden;
			background: url(../images/logo-footer.png) no-repeat;
			background-size: contain;

			@media(max-width: $phone-large){
				background-position: center;
			}
		}
	}
}
