div#site-title{
	display: inline-block;
	width: 307px;
	float: left;

	a{
		display: block;
		height: 0;
		width: 120px;
		padding-top: 50px;
		overflow: hidden;
		background: url(../images/logo-header.png) no-repeat;

		&:focus{
			outline: 1px solid lighten($blue, 28%);
			outline-offset: 2px;
		}
	}
}

.skip-to-content{
	position: absolute;
	height: 0;
	top: 0;
	overflow: hidden;

	&:focus{
		height: auto;
	}
}

header[role="banner"]{
	background: white;
	color: $medium;
	text-align: right;
	font-family: Open Sans, sans-serif;

	a{
		color: $medium;

		&[target="_blank"]{
			&:after{
				content: none;
			}
		}
	}

	#inner-header{
		background: white;
		padding: .5em 0;
		top: 0;
		z-index: 2;

		&.floating{
			position: fixed;
			left: 0;
			right: 0;

			div#site-title a{
				width: 307px;
			}
		}

		&.hidden{
			top: -80px;
			pointer-events: none;
		}

		&.in{
			@include vendor-prefix(transition, 'top .3s');
		}
	}

	nav[role="navigation"]{
		display: inline-block;
		vertical-align: top;
		margin-top: 3px;
		text-align: center;
		text-transform: uppercase;

		.close-sidebar{
			display: none;
			position: absolute;
			z-index: 1;
			color: $red;
			top: .7em;
			right: 1em;
			font-family: fontello;
			font-size: .8em;
			cursor: pointer;

			@media(max-width: $phone){
				display: block;
			}
		}

		> ul{
			list-style: none;
			margin-left: 0;

			> li{
				display: inline-block;
				position: relative;
				margin: 0;

				@media(max-width: $tablet){
					display: block;
					border-bottom: 1px solid lighten($medium, 50%);
					padding-bottom: 0;

					&:last-child{
						border-bottom: none;
					}
				}

				&:last-child{
					margin-right: 0;
				}

				&:hover{
					> ul{
						pointer-events: all;
						opacity: 1;
					}
				}

				> a{
					text-decoration: none;
					display: block;
					margin: 0;
					padding: .5em 1em;
					border: 2px solid transparent;
					@include vendor-prefix(transition, 'border-color .3s, color .3s');

					&:focus,
					&.child-has-focus{
						border-color: lighten($blue, 28%);
						background: none;

						+ ul{
							pointer-events: all;
							opacity: 1;
						}
					}

					@media(max-width: $tablet){
						border: none;
						color: $medium;
						padding: .5em 0;

						&:after{
							float: right;
							font-size: 2em;
							line-height: .5;
							color: lighten($medium, 40%);
							font-family: serif;
							content: '\203A';
						}
					}
				}

				&:hover{
					> a{
						border-color: lighten($primary, 20%);
						color: lighten($primary, 30%);
					}

					@media(max-width: $tablet){
						> a{
							color: $medium;
						}
					}
				}

				&.current-menu-item{
					> a{
						background: white;
						color: $primary;
					}

					&:hover{
						> a{
							background: white;
							border-color: white;
						}
					}

					@media(max-width: $tablet){
						> a{
							background: none;
						}

						&:hover{
							> a{
								background: none;
							}
						}
					}
				}

				&.menu-item-has-children{
					> a{
						&:after{
							content: '\221F';
							font-weight: 900;
							position: relative;
							top: -.2em;
							margin-left: .5em;
							display: inline-block;
							@include vendor-prefix(transform, 'rotate(-45deg)');

							@media(max-width: $tablet){
								content: '\203A';
								top: 0;
								margin: 0;
								float: right;
								font-size: 2em;
								font-weight: 500;
								line-height: .5;
								font-family: serif;
								@include vendor-prefix(transform, 'none');
							}
						}
					}
				}

				ul{
					background: white;
					position: absolute;
					z-index: 1;
					left: 0;
					top: 3em;
					list-style: none;
					margin-left: 0;
					min-width: 10em;
					opacity: 0;
					pointer-events: none;
					@include vendor-prefix(transition, 'opacity .3s');

					@media(max-width: $tablet){
						opacity: 1;
						pointer-events: all;
						background: none;
						border: none;
						position: static;
						padding-left: 1em;
						border-left: .5em solid lighten($medium, 40%);
						border-radius: 0;
					}

					li{
						display: block;
						margin: 0;

						&.menu-item-has-children{
							> a{
								&:after{
									content: '\221F';
									font-weight: 900;
									position: absolute;
									top: .4em;
									right: .7em;
									margin-left: .5em;
									display: inline-block;
									@include vendor-prefix(transform, 'rotate(225deg)');
								}
							}
						}

						> ul{
							left: calc(100% + 1px);
							right: -100%;
							top: -1px;
							border-left: none;
						}

						&:hover{
							> ul{
								pointer-events: all;
								opacity: 1;
							}
						}

						a{
							text-decoration: none;
							display: block;
							padding: .5em 1em;
							border-top: 1px solid lighten($medium, 30%);
							background: transparent;
							@include vendor-prefix(transition, 'background .3s, border-top-color .3s');

							&:focus:not(:hover){
								outline: 1px solid lighten($blue, 28%);
								outline-offset: -.3em;
							}

							&:active{
								outline: none;
							}
						}

						&:first-child a{
							border-top: none;
						}

						@media(max-width: $tablet){
							border-bottom: 1px solid lighten($medium, 50%);

							&.current-menu-item{
								a{
									color: $primary;
								}
							}

							a{
								border: none;
								color: $medium;
								padding: .5em 0;

								&:after{
									float: right;
									font-size: 2em;
									line-height: .5;
									color: lighten($medium, 40%);
									font-family: serif;
									content: '\203A';
								}
							}
						}

						&:hover{
							> a{
								background: $medium;
								color: white;
							}

							+ li{
								a{
									border-color: $medium;
								}
							}

							@media(max-width: $tablet){
								a{
									background: none;
								}
							}
						}

						&:first-child{
							a{
								padding-top: .5em;
							}

							li{
								a{
									border-top: 1px solid lighten($medium, 30%);
								}
							}

							@media(max-width: $tablet){
								a{
									padding-top: 0;
								}
							}
						}

						&:last-child{
							a{
								margin: 0;
								padding-bottom: .5em;
							}

							@media(max-width: $tablet){
								border-bottom: none;

								a{
									padding-bottom: 0;
								}
							}
						}
					}
				}
			}
		}

		@media(max-width: $tablet){
			width: 50%;
			position: fixed;
			top: 0;
			bottom: 0;
			left: -50%;
			overflow: scroll;
			background: rgba(white, .9);
			border-right: 1px solid $light;
			padding: 1em;
			margin-top: 0;
			font-size: 1.5em;
			z-index: 3;

			@include vendor-prefix(transition, 'left .3s');

			&.show{
				left: 0;
			}

			@media(max-width: $phone){
				width: 100%;
				left: -100%;
				padding: 2em 1em 1em;

				&.show{
					left: 0;
				}
			}
		}
	}

	#header-utils{
		position: relative;
		top: 10px;
		margin-left: 1em;
	}

	#language-switcher-wrapper{
		@media(max-width: $tablet){
			display: none;
		}

		label{
			display: none;
		}

		select{
			border: none;
			border-radius: 0;
			padding: 0 1em 0 2.5em;
			background-image: none, url(../images/select-arrow.png);
			background-position: 0 2px, right 5px;
			background-repeat: no-repeat, no-repeat;
			font-family: Open sans, sans-serif;
			font-size: .8em;
			color: $medium;
			font-weight: 800;
			line-height: 1.3;

			&.en-US{
				background-image: url(../images/icon-flag-en.jpg), url(../images/select-arrow.png);
			}
		}
	}

	#search{
		margin-left: 10px;

		@media(max-width: $tablet){
			display: none;
		}

		label{
			display: none;
		}

		input{
			background: url(../images/icon-search.png) no-repeat;
			background-position: 5px center;
			border: none;
			height: 20px;
			padding: 1.4em 1em 1.4em 3em;
			max-width: 25px;
			@include vendor-prefix(transition , 'max-width .3s');

			&:focus{
				max-width: 155px;
				width: auto;
				border: 1px solid $light;
				outline: none;
			}
		}

		button{
			display: none;
		}
	}
}

#burger{
	display: none;
	font-size: 4em;
	font-weight: 600;
	text-decoration: none;
	color: $medium;
	background: none;
	border: none;
	float: right;
	line-height: .3;
	user-select: none;

	&:focus,
	&:active,
	&:hover{
		color: $dark;
		background: none;
		border: none;
		outline: none;
	}

	@media(max-width: $tablet){
		display: inline-block;

		&.show{
			color: $dark;

			&:focus,
			&:active,
			&:hover{
				color: $dark;
				background: none;
				border: none;
				outline: none;
			}
		}
	}

	@media(max-width: $phone){
		font-size: 3em;
		line-height: .8;
	}
}
