//Variables
$red: rgb(193, 0, 66);
$blue: rgb(0, 80, 162);
$dark-blue: rgb(12, 60, 124);
$light-blue: rgb(18, 118, 210);
$green: rgb(1, 142, 142);
$yellow: rgb(247, 168, 27);
$light-yellow: rgb(251, 201, 113);
$purple: rgb(135, 33, 117);
$light: rgb(242, 242, 242);
$medium: rgb(95, 115, 133);
$dark: rgb(31, 31, 31);

$primary: $blue;

$phone: 20em;
$phone-large: 30em;
$tablet: 48em;
$desktop: 64.01em;
$desktop-large: 75em;

$grid-columns: 12;
$grid-gutter-width-base: 20px;

$grid-gutter-widths: (
	lg: $grid-gutter-width-base,
	md: $grid-gutter-width-base,
	sm: $grid-gutter-width-base,
	xs: $grid-gutter-width-base,
);

$grid-breakpoints: (
	lg: $desktop,
	md: $tablet,
	sm: $phone-large,
	xs: $phone,
);

$container-max-widths: (
	lg: $desktop * .9375,
	md: $tablet * .9375,
	sm: $phone-large * .9375,
	xs: $phone * .9375,
);
