@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@import 'mixins';
@import 'fonts';

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	@include vendor-prefix(box-sizing, 'border-box');
}

:root{
	font-size: 16px;
	line-height: 1.8;
	font-family: Georgia, Times, Times New Roman, serif;
	color: $medium;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: discretionary-ligatures;
	@include vendor-prefix(text-size-adjust, '100%');
	@include vendor-prefix(font-smoothing, 'antialiased');
}

.clearfix{
	zoom: 1;

	&:before,
	&:after{
		content: ' ';
		display: table;
	}

	&:after{
		clear: both;
	}
}

.fr,
.alignright{float: right !important;}

.fl,
.alignleft{float: left !important;}

.cr{clear: right;}
.cl{clear: left;}
.cb{clear: both;}

body{
	background: white;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: Open Sans;
	font-weight: 300;
	margin-bottom: .5em;
}

h1{
	font-size: 3.5em;

	@media(max-width: $phone-large){
		line-height: 1.1;
	}
}

h2{
	font-size: 2.25em;

	@media(max-width: $phone-large){
		font-size: 1.4em;
	}

	span{
		color: $green;
	}
}

a{
	color: $medium;
}

img{
	max-width: 100%;
}

main section{
	background: white;
	padding: 3em 0;
	width: 100%;
	overflow: hidden;

	&.blue-bg{
		background:
			url(../images/graphic-turtle-top-right.png),
			url(../images/graphic-turtle-bottom.png),
			url(../images/graphic-turtle-left.png),
			$dark-blue;
		background-repeat: no-repeat;
		background-position:
			100% -120px,
			20px -80%,
			-170px bottom,
			0 0;
		padding: 3.75em 0;
		text-align: center;

		h1{
			color: white;
			margin-bottom: 0;

			span{
				color: $yellow;
			}
		}

		p{
			color: white;
			margin-bottom: 2em;
		}
	}

	&.yellow-bg{
		background:
			url(../images/graphic-turtle-yellow-right.png),
			url(../images/graphic-turtle-yellow-bottom.png),
			$light-yellow;
		background-repeat: no-repeat;
		background-position:
			100% -120px,
			20px -80%,
			0 0;
		padding: 3.75em 0;
		text-align: center;

		@media(max-width: $phone-large){
			padding: 2em 0;
		}

		h1{
			color: $dark-blue;
			margin-bottom: 0;
		}

		p{
			color: $dark;
			margin-bottom: 2em;
		}
	}

	&.grey-bg{
		background: $light;
	}
}

@import 'scaffolding';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'forms';

@import 'views/home';
