#hero{
	background: url(../images/hero-image.png) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 55px 0 75px;
	text-align: center;
	position: relative;

	@media(max-width: $phone-large){
		padding-top: 100px;
	}

	div{
		margin-top: 3em;

		@media(max-width: $phone-large){
			position: absolute;
			top: -1px;
			left: 0;
			right: 0;
			background: white;
			margin: 0;
			padding: 1em 0;

			.btn{
				width: 48%;
			}

			.btn-white{
				border: 1px solid;
			}
		}
	}
}

#explore{
	.explore-items{
		text-align: center;

		@media(max-width: $phone-large){
			width: 100vw;
			overflow-x: scroll;
			text-align: left;

			> div{
				width: 300vw;
			}

			.explore-item{
				text-align: center;
				width: 80vw;
			}
		}
	}

	.btn{
		position: relative;
		top: -2em;
	}
}

#activities{
	@media(max-width: $phone-large){
		.container + .container{
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
		}
	}

	.activities-items{
		text-align: center;
	}

	.activities-item{
		width: 50%;
		position: relative;
		float: left;
		background-size: cover;
		text-align: left;
		overflow: hidden;

		@media(max-width: $phone-large){
			width: 100%;
			height: 50vh;
		}

		&:after{
			content: '';
			position: absolute;
			bottom: -20px;
			right: -20px;
			display: block;
			height: 85px;
			width: 85px;
			background: url(../images/icon-finger.png), rgba($purple, .8);
			background-position: center, center;
			background-repeat: no-repeat;
			border-radius: 50%;
			@include vendor-prefix(transition, 'height .3s, width .3s, bottom .3s, right .3s');

			@media(max-width: $phone-large){
				display: none;
			}
		}

		&:hover{
			&:after{
				height: calc(250%);
				width: calc(250%);
				bottom: -100%;
				right: -100%;
				background: rgba($purple, .8);
			}

			.content{
				opacity: 1;
			}
		}
	}

	.content{
		position: relative;
		z-index: 1;
		opacity: 0;
		padding: 9em 3.5em 2em;
		@include vendor-prefix(transition, 'opacity .3s .3s');

		@media(max-width: $phone-large){
			position: absolute;
			top: 55%;
			bottom: 0;
			padding: 1em;
			opacity: 1;
			background: rgba($purple, .8);

			p{
				margin: 0;
			}
		}
	}

	.btn{
		font-size: 2.3em;
		line-height: 1.6;
		padding: 0 .7rem;
		margin-bottom: .5em;

		@media(max-width: $phone-large){
			background: none;
			padding: 0;
		}
	}

	p{
		color: white;
		font-size: .9em;
		line-height: 1.1;
		margin: 2em 0 0;

		@media(max-width: $phone-large){
			clear: both;
			width: 100%;
			margin: 1em 0 2em;
		}
	}
}

#share-aloha{
	@media(max-width: $phone-large){
		h1{
			font-size: 3em;
		}

		> p{
			display: none;
		}
	}

	.card{
		padding: 35px 80px;
		background: white;
		border-bottom: 6px solid $purple;
		border-radius: 4px;

		@media(max-width: $phone-large){
			margin-bottom: 2em;

			&:last-child{
				margin: 0;
			}
		}
	}
}
